* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal__background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__wrapper {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background:white;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
